body {
  
    font-family: 'Hiragino Kaku Gothic Pro', Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    margin-top: 55px;
  }
  
  #thankyou {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
  }
  
  #thankyou h1 {
    color: var(--teal);
    margin-bottom: -1px;
    text-align: center;
  }

  #thankyou h3 {
    text-align: center;
  }
  
  .order-summary {
   
    width: 300px;
    background-color: var(--offwhite);
    margin-top: 16px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
    border-radius: 34px;
    border: 1px solid var(--teal);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;

    @include sm{
      width: 450px;
    }

  }
  
  .order-summary h2 {
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .order-summary ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .order-summary li {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .order-summary p {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
  }
  
   #newsletter {
      text-align: center;
      margin-top: 40px;
      display: grid;
      justify-items: center;
      grid-gap: 16px;
      margin: 0 16px;
    }
    
    #newsletter h1 {
      font-size: 24px;
      font-weight: 800;
      color: var(--teal);
      margin-top: 30px;
    }
    
    #newsletter .input-container {
      display: flex;
      align-items: center;
    }
    
    #newsletter input[type="email"] {
      flex: 1;
      max-width: 300px;
      padding: 10px;
      margin-bottom: 10px;
      border-color: var(--teal);
    }
    
    #newsletter .roundbutton {
      display: inline-block;
      padding: 10px 20px;
      margin-bottom: 40px;
    }