/* Features section */
#technical h1,
#home h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 46px;
  font-weight: 800;
  color: var(--teal);
  margin-bottom: 20px;
  padding-right: 16px;
  border-bottom: 2px solid black;
  width: 600px;
}

#technical .grid-container,
#home .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 0 16px; /* Set even margin on both sides */
}

#technical h1 {
  text-align: right; /* Move "Technical Features" to the right */
}

#home h1 {
    text-align: left; /* Move "Technical Features" to the right */
  }

#technical img,
#home img {
  max-width: 100%;
  height: auto;
}

#technical ul li,
#home ul li {
  font-family: 'Hiragino Kaku Gothic Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}

#technical ul,
#home ul {
  background-color: var(--offwhite);
  padding-bottom: 180px;
}

/* Mobile-specific styles */
@media screen and (max-width: 600px) {
  #technical .grid-container,
  #home .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin: 0; /* Remove margin on mobile */
  }
  
  #technical img,
  #home img {
    display: none;
  }
}
