#technical {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". tech .";
  background-color: white;

@include xxl{
  grid-template-columns: auto 1440px auto;
}

li{
  list-style: initial;
}

  #technical-container {
    display: grid;
    grid-area: tech;

    h1 {
      display: flex;
      justify-content: center;
      font-weight: 800;
      color: var(--teal);
      padding-top: 10px;
    }


    img {
      width: 100%;
      display: none;

      @include lg {
        display: block;


      }
    }


    @include lg {
      grid-template-columns: 50% auto;
      grid-template-areas:
        ".. t1"
        "t2 t3"
        "t4 t4"
        "t5 t6";
    }


    #t1 {
      @include lg {
        grid-area: t1;
        display: flex;
        justify-content: right;
        font-size: 28px;
        font-weight: 800;
        color: var(--teal);
        border-bottom: 2px solid black;
        margin-left: 100px;
      }
    }

    #t2 {
      @include lg {
        grid-area: t2;
      }
    }

    #t3 {


      @include lg {
        grid-area: t3;
      }

      background-color: var(--offwhite);
      margin-left: 16px;
      margin-top: 16px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
      border-radius: 34px;

      ul {
        margin-left: 30px;
        margin-right: 10px;
        line-height: 50px;
      }
    }

    #t4 {
      @include lg {
        grid-area: t4;
        display: flex;
        justify-content: left;
        font-size: 28px;
        font-weight: 800;
        color: var(--teal);
        border-bottom: 2px solid black;
        width: 600px;
      }
    }

    #t5 {
      @include lg {
        grid-area: t5;
      }

      background-color: var(--offwhite);
      margin-top: 16px ;
      margin-right: 16px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
      border-radius: 34px;

      ul {
        margin-left: 30px;
        margin-right: 10px;
        line-height: 50px;
      }
    }

    #t6 {
      @include lg {
        grid-area: t6;
      }
    }
  }
}
