/* Gallery section */
#gallery {

  scroll-margin-top: var(--offset);
  text-align: center;

}

#gallery h1 {
  font-size: 46px;
  font-weight: 800;
  color: var(--teal);
  margin-bottom: 20px;
}

#images {
  text-align: center;
}

#images ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "g1 g2 g3 g4"
    "g5 g6 g7 g8"
    "g9 g10 g11 g12";
  grid-gap: 16px;
  justify-content: center;
  margin: 0 200px;
}

#images li {
  list-style: none;
}

#images .roundbutton {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Newsletter section */
#newsletter1 {
  text-align: center;
  margin-top: 40px;
  display: grid;
  justify-items: center;
  grid-gap: 16px;
  margin: 0 16px;
}

#newsletter1 h1 {
  font-size: 24px;
  font-weight: 800;
  color: var(--teal);
  margin-top: 50px;
}

#newsletter1 .input-container {
  display: flex;
  align-items: center;
}

#newsletter1 input[type="email"] {
  flex: 1;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: var(--teal);
}

#newsletter1 .roundbutton {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 40px;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  #images ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "g1 g2"
      "g3 g4";
    grid-gap: 16px;
    justify-content:center;
    margin: 0;
    margin-right: 45px;
    margin-left: 30px;
   
  }

  #images li:nth-child(n+5) {
    display: none;
  }

  #images img {
    width: 99%;
    height: 99%;
  }

  #newsletter1 {
    grid-template-columns: 1fr;
  }

  #newsletter1 .input-container {
    flex-direction: column;
  }

  #newsletter1 input[type="email"] {
    width: 100%;
    max-width: 300px;
  }

  #newsletter1 .input-container {
    display: grid;
    grid-template-columns: 1fr auto;
   
    justify-items: center;
  }

  #newsletter1 .roundbutton {
    justify-self: center;
  }
}
