/* =============
    Hero
============= */

#hero{
    background-image: url("../img/hero/herovideo.jpg");
    background-size: cover;
    background-position: center;
    height: 65vh;
   
}

#hero-info{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hero-info .";
    display: block;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 16px;

    h1{
        color: var(--teal);
    }
}