/* =============
    Products
============= */
#products{
  background-color: var(--teal);
  padding-bottom: 24px;
}
.title{
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
  padding-top: 1px;
}
.product-cards{
  display: grid;
  gap: 16px;

  @include md{
    grid-template-columns: repeat(3, 1fr);
  }

  .productcard{
    background-color: var(--white);
    padding: 16px;
    border-radius: 34px;
    border-top-left-radius: 34px;
    margin: 0 24px;
    img{
      width: 100%;
    }
  }
}




