/* =============
    Buttons
============= */
.roundbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: var(--teal);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 79.5px;
    color: white;
    text-decoration: none;
}

