/* =============
    Navigation
============= */

html{
    scroll-behavior: smooth;
}
#main-menu {
    padding: 0 16px;
    ul {
       text-align: right;

        @include lg{
            display: flex;
            padding-right: 25px;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
        }

       li{

        }
    }

    display: none;

    @include lg {
        display: inline;
    }


    &.show-menu {
        display: inline;
        transition: .3s;
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: black;
        transition: color 0.3s;

        &:hover,
        &:active {
            color: var(--teal);
        }
    }
}